.arrow-up {
  position: fixed;
  display: block;
  right: 30px;
  bottom: 80px;
  a {
    display: block;
  }
  svg {
    width: 70px;
    height: 94px;
    rect {
      fill: #ffffff;
    }
    &:hover {
      path,
      rect {
        stroke: #ff9f00;
      }
    }
    @media (max-width: 1919px) {
      width: 60px;
      height: 81px;
    }
    @media (max-width: 1365px) {
      width: 50px;
      height: 67px;
    }
    @media (max-width: 1023px) {
      width: 40px;
      height: 54px;
    }
    @media (max-width: 767px) {
        width: 50px;
        height: 67px;
    }
  }
  @media (max-width: 1919px) {
    right: 50px;
    bottom: 40px;
  }
  @media (max-width: 1365px) {
    right: 40px;
    bottom: 30px;
  }
  @media (max-width: 1023px) {
    right: 30px;
    bottom: 30px;
  }
  @media (max-width: 767px) {
    right: 19px;
    bottom: 16px;
  }
}
