.clients {
  margin-bottom: 220px;
  overflow-x: hidden;
  @media (max-width: 1919px) {
    margin-bottom: 180px;
  }
  @media (max-width: 1365px) {
    margin-bottom: 150px;
  }
  @media (max-width: 1023px) {
    margin-bottom: 120px;
  }
  @media (max-width: 767px) {
    margin-bottom: 88px;
  }
}
