.preheader {
  background-color: #2f2f2f;
  margin-bottom: 80px;
  padding-top: 50px;
  @media (max-width: 1919px) {
    margin-bottom: 70px;
    padding-top: 40px;
  }
  @media (max-width: 1365px) {
    margin-bottom: 60px;
    padding-top: 10px;
  }
  @media (max-width: 1023px) {
    margin-bottom: 50px;
  }
  @media (max-width: 767px) {
    margin-bottom: 40px;
    padding-top: 50px;
  }
}
