.wide-block {
  display: flex;
  align-items: center;
  height: 265px;
  background-color: $colorBase;
  margin-bottom: 150px;
  color: #ffffff;
  font-size: 70px;
  font-weight: 500;
  text-transform: uppercase;
  @media (max-width: 1919px) {
    height: 184px;
    margin-bottom: 130px;
    font-size: 56px;
  }
  @media (max-width: 1365px) {
    height: 149px;
    font-size: 46px;
    margin-bottom: 110px;
  }
  @media (max-width: 1023px) {
    font-size: 34px;
    height: 131px;
    margin-bottom: 88px;
  }
}
