// Mobile first
// $mediaWidthMobile: 767px;
// $mediaWidthTablet: 1023px;
// $mediaWidthTabletHorizontal: 1365px;
// $mediaWidthLaptop: 1919px;
// $mediaDesctop: 1919px;

$fontBase: "Poppins", sans-serif;
$fontTitle: "Exo 2", sans-serif;
$colorBase: #2f2f2f;