footer.footer.container 
    ul.footer__list
        li ул. Максима Горького д. 70
        li
            a(href="") VK
        li
            a(href="tel:+74712747565")  +7 (4712) 747-565
        li
            a(href="") Instagram
        li
            a(href="mailto:sale@kvokka.com") sale@kvokka.com
        li
            a(href="") Telegram
    .footer__bottom 
        p © 2021 kvokka digital-agency
        p <a href="#">Персональные данные</a> | <a href="#">Политика конфиденциальности</a>
    .arrow-up
        a(href="#top") 
            <svg width="70" height="95" viewBox="0 0 70 95" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="94.5" width="93.5" height="69" rx="34.5" transform="rotate(-90 0.5 94.5)" stroke="#2F2F2F"/><path d="M18.4392 46.3681L35.4377 29.3697M35.4377 29.3697L52.2001 46.132M35.4377 29.3697L35.4377 65.2553" stroke="#2F2F2F" stroke-width="3" stroke-linejoin="round"/></svg>
    include menu.pug