header.header.container
    .header__wrapper
        a.header__logo(href="index.html") kvokka 
        .header__menu 
            a.header__menu-item(href="about.html") о нас
            a.header__menu-item(href="services.html") услуги
            a.header__menu-item(href="portfolio.html") портфолио
            a.header__menu-item(href="contacts.html") контакты
        a(href="order.html").header__button
        .header__language 
            button.active eng
            button ru 
        .header__burger 

