.menu 
    span.menu__close
        img(src="img/cross.svg" alt="")
    ul.menu__list 
        li.menu__item
            a(href="about.html") О нас
            <svg width="62" height="50" viewBox="0 0 62 50" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="61" height="49" rx="24.5" stroke="#2F2F2F"/><path d="M21.106 14H41.0145M41.0145 14V33.632M41.0145 14L20 35.0145" stroke="#2F2F2F" stroke-width="3" stroke-linejoin="round"/></svg>
        li.menu__item
            a(href="services.html") услуги
            <svg width="62" height="50" viewBox="0 0 62 50" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="61" height="49" rx="24.5" stroke="#2F2F2F"/><path d="M21.106 14H41.0145M41.0145 14V33.632M41.0145 14L20 35.0145" stroke="#2F2F2F" stroke-width="3" stroke-linejoin="round"/></svg>
        li.menu__item
            a(href="portfolio.html") ПОРтфолио
            <svg width="62" height="50" viewBox="0 0 62 50" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="61" height="49" rx="24.5" stroke="#2F2F2F"/><path d="M21.106 14H41.0145M41.0145 14V33.632M41.0145 14L20 35.0145" stroke="#2F2F2F" stroke-width="3" stroke-linejoin="round"/></svg>
        li.menu__item
            a(href="contacts.html") контакты
            <svg width="62" height="50" viewBox="0 0 62 50" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="61" height="49" rx="24.5" stroke="#2F2F2F"/><path d="M21.106 14H41.0145M41.0145 14V33.632M41.0145 14L20 35.0145" stroke="#2F2F2F" stroke-width="3" stroke-linejoin="round"/></svg>
    .menu__language
        .header__language.header__language--menu
            button.active eng
            button ru