doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header

        section.preheader.container
            h1.header__title Мы <span> можем </span>

        section.services-inner.container
            .services-inner__wrapper
                a(href="").services-inner__item 
                    p.services-inner__caption Web-разработка
                    p.services-inner__content Разработаем вам корпоративные сайты, интернет-магазины, САЙТЫ-визитки, leanding-page.
                    <svg width="95" height="70" viewBox="0 0 95 70" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="93.5" height="69" rx="34.5" stroke="#2F2F2F"/><path d="M36.3355 22.75H60.375M60.375 22.75V46.4556M60.375 22.75L35 48.125" stroke="#2F2F2F" stroke-width="3" stroke-linejoin="round"/></svg>
                a(href="").services-inner__item 
                    p.services-inner__caption Дизайн
                    p.services-inner__content всегда продуманный, удобный и современный web-дизайн для ваших продуктов.
                    <svg width="95" height="70" viewBox="0 0 95 70" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="93.5" height="69" rx="34.5" stroke="#2F2F2F"/><path d="M36.3355 22.75H60.375M60.375 22.75V46.4556M60.375 22.75L35 48.125" stroke="#2F2F2F" stroke-width="3" stroke-linejoin="round"/></svg>
                a(href="").services-inner__item 
                    p.services-inner__caption Аутстафф и retainer
                    p.services-inner__content Усилим команду ваших IT-специалистов и Оптимизируем кадровые расходы.
                    <svg width="95" height="70" viewBox="0 0 95 70" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="93.5" height="69" rx="34.5" stroke="#2F2F2F"/><path d="M36.3355 22.75H60.375M60.375 22.75V46.4556M60.375 22.75L35 48.125" stroke="#2F2F2F" stroke-width="3" stroke-linejoin="round"/></svg>
                a(href="").services-inner__item 
                    p.services-inner__caption Продвижение
                    p.services-inner__content Продвижение сайтов с помощью контекстной и баннерной рекламы в Яндекс и Google. 
                    <svg width="95" height="70" viewBox="0 0 95 70" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="93.5" height="69" rx="34.5" stroke="#2F2F2F"/><path d="M36.3355 22.75H60.375M60.375 22.75V46.4556M60.375 22.75L35 48.125" stroke="#2F2F2F" stroke-width="3" stroke-linejoin="round"/></svg>
                a(href="").services-inner__item 
                    p.services-inner__caption ПОДДЕРЖКА
                    p.services-inner__content Техническая поддержка, настройка, доработка и обновление сайтов со сложной архитектурой
                    <svg width="95" height="70" viewBox="0 0 95 70" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="93.5" height="69" rx="34.5" stroke="#2F2F2F"/><path d="M36.3355 22.75H60.375M60.375 22.75V46.4556M60.375 22.75L35 48.125" stroke="#2F2F2F" stroke-width="3" stroke-linejoin="round"/></svg>




        include modules/footer
        include modules/script
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        script(src="js/ymaps.js")