@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import "./node_modules/normalize.css/normalize";
@import "utils/slick";
@import "utils/variables";
@import "mixins/media";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: $fontBase;
}

body {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  color: $colorBase;
}

.container {
  max-width: 1920px;
  padding: 0 80px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 1919px) {
    padding: 0 50px;
  }
  @media (max-width: 1365px) {
    padding: 0 40px;
  }
  @media (max-width: 1023px) {
    padding: 0 30px;
  }
  @media (max-width: 767px) {
    padding: 0 16px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

button {
  padding: 0;
  color: inherit;
}

.title {
  font-size: 70px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
  span {
    font-style: italic;
    font-weight: 500;
  }
  &--mode {
    color: #ffffff;
  }
  @media (max-width: 1919px) {
    font-size: 56px;
    margin-bottom: 25px;
  }
  @media (max-width: 1365px) {
    font-size: 46px;
    margin-bottom: 30px;
  }
  @media (max-width: 1023px) {
    font-size: 34px;
    margin-bottom: 20px;
  }
  @media (max-width: 767px) {
    margin-bottom: 24px;
  }
}

.link {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
  align-self: start;
  background-color: transparent;
  border: none;
  padding: 0;
  span {
    margin-right: 30px;
    @media (max-width: 1919px) {
      margin-right: 25px;
    }
    @media (max-width: 1365px) {
      margin-right: 15px;
    }
  }
  svg {
    width: 26px;
    @media (max-width: 1919px) {
      width: 25px;
    }
    @media (max-width: 1365px) {
      width: 20px;
    }
  }
  &:hover {
    color: #ff9f00;
    svg {
      path {
        stroke: #ff9f00;
      }
    }
  }
  @media (max-width: 1919px) {
    font-size: 22px;
  }
  @media (max-width: 1365px) {
    font-size: 20px;
  }
  @media (max-width: 1023px) {
    font-size: 18px;
  }
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  @media (max-width: 767px) {
    display: none;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 4;
}
